body {
    font-family: Verdana;
}
h1 {
    color: #666
}
.logo {
    width: 187px;
    height: 131px;
    background: url(../img/logo.png);
}
.list {
    margin-top: 20px;
}
.list a {
    color: #06c
}