/**
 * 复选样式
 * @author Ricky
 */
.df-checkbox-unchecked {
    background-position: 0 0
}
.df-checkbox-unchecked-hover {
    background-position: 0 -20px
}
.df-checkbox-checked {
    background-position: 0 -40px
}
.df-checkbox-checked-hover {
    background-position: 0 -60px
}
.df-checkbox-unchecked-disabled {
    color: #b6b6b6;
    background-position: 0 -80px;
    cursor: default
}
.df-checkbox-checked-disabled {
    color: #b6b6b6;
    background-position: 0 -100px;
    cursor: default
}
