/**
 * 通用样式
 * @author Ricky
 */
.df-widget {
    font-family: "微软雅黑", Arial
}
.df-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    filter: alpha(opacity=20);
    -moz-opacity: 0.2;
    opacity: 0.2
}
