/**
 * 单选样式
 * @author Ricky
 */
.df-radio-unchecked {
    background: url(img/radio-unchecked.png) left center no-repeat
}
.df-radio-unchecked-hover {
    background: url(img/radio-unchecked-hover.png) left center no-repeat
}
.df-radio-checked {
    background: url(img/radio-checked.png) left center no-repeat
}
.df-radio-checked-hover {
    background: url(img/radio-checked-hover.png) left center no-repeat
}
.df-radio-unchecked-disabled {
    color: #b6b6b6;
    background: url(img/radio-unchecked-disabled.png) left center no-repeat;
    cursor: default
}
.df-radio-checked-disabled {
    color: #b6b6b6;
    background: url(img/radio-checked-disabled.png) left center no-repeat;
    cursor: default
}
