/**
 * 单选样式
 * @author Ricky
 */
.df-radio-unchecked {
    background-position: 0 -120px
}
.df-radio-unchecked-hover {
    background-position: 0 -140px
}
.df-radio-checked {
    background-position: 0 -160px
}
.df-radio-checked-hover {
    background-position: 0 -180px
}
.df-radio-unchecked-disabled {
    color: #b6b6b6;
    background-position: 0 -200px;
    cursor: default
}
.df-radio-checked-disabled {
    color: #b6b6b6;
    background-position: 0 -220px;
    cursor: default
}
