body {
    font-family: Helvetica, Arial;
    margin: 0
}
h1 {
    margin: 0;
    padding: 10px 30px;
    color: #fff;
    background: url(../img/bg.png)
}
#container {
    padding: 30px;
    border-bottom: 1px #ccc solid;
    background: #fff
}
.operation {
    padding: 30px;
    font-size:14px
}
.operation button {
    display: inline-block;
    line-height: normal;
    margin: 0 10px 10px 0;
    padding: 5px 15px;
    border: 1px #ccc solid;
    border-radius: 2px;
    color: #666;
    font-size: 14px;
    font-family: Helvetica, Arial;
    background: #eee;
    cursor: pointer;
    text-align: center;
    overflow: visible;
    outline: none
}
.operation button:hover {
    background: #fff
}
.operation input {
    height: 15px;
    line-height: 15px;
    margin: 0 10px 10px 0;
    padding: 5px;
    border: 1px #ccc solid;
    border-radius: 2px;
    font-family: Helvetica, Arial;
    outline: none
}
#console {
    display: block;
    padding-left: 25px;
    margin-left: 30px;
    width: 90px;
    height: 20px;
    line-height: 20px;
    border: 1px #ccc solid;
    border-top: 0;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    background: #eee url(../img/console.png) 5px center no-repeat;
    color: #666;
    font-size: 12px;
    text-decoration: none
}
#console:hover {
    background-color: #fff;
}
.tooltip-trigger {
    display: block;
    width: 20px;
    height: 20px;
    background: #707070;
    color: #fff;
    border-radius: 2px;
    position: absolute;
    text-align: center;
    cursor: pointer
}

/*index*/
.nav {
    height: 40px;
    line-height: 40px;
    background: #2185c8;
    text-align: center
}
.nav a {
    display: inline-block;
    height: 40px;
    padding: 0 30px;
    font-size: 18px;
    color: #fff;
    text-decoration: none
}
.nav a:hover {
    background: #40a4e7
}
.logo {
    margin: 0 auto;
    width: 580px;
    height: 150px;
    padding: 50px 0 0 220px;
    font-size: 45px;
    background: url(../img/logo.png) left center no-repeat
}
.logo span {
    margin-left: 35px;
    font-size: 20px;
    font-weight: normal
}
.main {
    margin: 30px auto;
    width: 800px;
    color: #666;
    position: relative
}
.ui {
    position: absolute;
    top: 150px;
    left: 165px
}
.main h2 {
    color: #333;
    font-size: 20px
}
.main h3 {
    color: #333;
    font-size: 16px
}
.main p {
    line-height: 24px;
    font-size: 16px
}
.main a {
    color: #2980b9
}
.main ul {
    margin-left: 0;
    padding-left: 0;
    list-style: none
}
.main li {
    margin-bottom: 10px;
    padding-left: 20px;
    background: url(../img/li.png) left 8px no-repeat
}
.main .ext {
    margin: 10px 0
}
.footer {
    padding: 50px 0;
    text-align: center;
    color: #949da7;
    font-size: 14px;
    background: #253237
}
pre.code {
    margin: 0;
    padding: 20px;
    font-family: Consolas;
    background: #f7f7f7;
    border: 1px #efefef solid;
    border-radius: 5px
}
