body {
    font-family: Verdana;
    margin: 30px
}
h1 {
    color: #666
}
.logo {
    width: 187px;
    height: 131px;
    background: url(../img/logo.png)
}
.list {
    margin-top: 20px
}
a {
    color: #06c
}
pre {
    padding: 20px;
    font-family: Consolas;
    background: #f7f7f7;
    border-radius: 3px;
    border:1px #ccc solid
}
#container {
    height: 100px;
    padding: 10px;
    border: 1px #ccc solid;
    background: #efefef
}
